.nav a {
  color: white;
  font-family: roboto;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
}

.nav ul {
  display: table;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.nav li {
  background-color: rgb(66, 135, 147);
  display: inline-block;
  padding: 10px 0px;
  position: relative;
}

.nav li:hover {
  background-color: #2e616a;
}

.nav {
  background-color: rgb(66, 135, 147);
  margin-left: 10%;
  margin-top: 2%;
  width: 80%;
}

.nav ul .cat > .cats {
  overflow: hidden;
  position: fixed;
  visibility: collapse;
  width: 10%;
}

.nav ul .cat:hover > .cats {
  visibility: visible;
}

.nav .cats {
  display: grid;
  margin: 0;
  padding: 0;
}

.nav ul li .cat .cats a {
  text-align: center;
}
