* {
  margin:0;
  padding: 0;
}

.banner {
  margin-left: 10%;
  margin-top: 1%;
  width: 80%;
}

.cont_art {
  align-content: center;
}

section {
  float: left;
  margin: auto;
  width: 100%;
}

section a {
  color: black;
  font-family: arial;
  text-decoration: none;
}

section p {
  font-size: 12px;
  float: right;
}

/* aside {
  width: 29.9%;
  float: right;
} */

.peli {
  color: #000000;
  font-family: roboto;
  text-decoration: none;
}

.peli {
  float: left;
  margin: 1% 0;
  width: 46%;
}

.peli img {
  margin: 1%;
  width: 100%;
}

.peli:hover {
  background-color: rgb(199, 199, 199);
}


/* CATEGORIAS */

h1, h3 {
  font-family: roboto;
  font-weight: bold;
}

.cont_art {
  display: inline-block;
  margin: 0 auto;
  padding: 0;
}

.poster {
  float: left;
  margin: 1.33%;
  width: 14%;
}

.poster:hover {
  background-color: rgb(199, 199, 199);
}

.poster img {
  width: 100%;
}
